.headerWrapper {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: var(--f1);
	padding: 5px 30px 5px 10px;
	align-items: center;
	transition: 1s ease all;
	visibility: hidden;
}


.headerWrapperHidden {
	transition: 1s ease all;
	transform: translateY(-200px);
}

#search-icon {
  height: 25px;
  width: 25px;
}

input[name='headerSearchField'] {
	width: 20vw;
	border-bottom: 2px solid var(--c2);
}


.headerSearchWrapper {
	flex-grow: 1;
	justify-content: flex-end;
	margin-right: 40px;
}

.headerSearchWrapper form {
	align-items: center;
}

.headerSubmitBtn:hover {
	background-color: var(--gray);
}

.headerLogoWrapper {
	width: 150px;
	height: 70px;
}

.headerHamburgerMenu {
	width: 33px;
	height: 33px;
	padding: 5px;
}


.headerHamburgerMenu {
	cursor: pointer;
}



.heroBtnCta {
	padding: 15px;
	border-radius: 8px;
	background-color: var(--pal04);
}


















.buttonGAlert {
	background-color: var(--c4);
}


.buttonGGreen {
	background-color: var(--pal04);
}


.buttonG {
	padding: 15px;
	font-size: 20px;
	border-radius: 8px;
	align-self: center;
	align-items: center;
	z-index: 4;
}

.buttonG h5 {
	z-index: 2;
	color: #fff;
	font-weight: var(--regular);
	letter-spacing: 1px;
}

.buttonG::before {
	content: "";
	border-radius: 8px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	transition: 0.5s ease all;
}

.buttonG:hover::before {
	content: "";
	border-radius: 8px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.27);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}


















.sectionTitles,
.textoSobreHeaderTitle {
	text-transform: uppercase;
}






















.heroSection2 {
	min-width: 100vw;
	min-height: 100vh;
	background-color: var(--c5);
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	padding: 5vw 10vw;
	grid-template-columns: 2fr 1fr;
	grid-gap: 40px;
}


.heroSectionTextWrapper {
	flex-flow: column wrap;
	z-index: 2;
}



.heroSection2Form {
	flex-flow: column wrap;
	padding: 40px;
	background-color: var(--f6);
	border-radius: 8px;
	z-index: 2;
}

.heroSectionTextWrapper h1,
.heroSectionTextWrapper h2 {
	color: var(--f1);
}

.heroSectionTextWrapper h1 {
	opacity: .7;
	letter-spacing: 1px;
}

.heroSectionTextWrapper h1:first-child {
	margin-bottom: 40px;
}

.heroSectionTextWrapper h2 {
	margin: 40px 0 20px 0;
}

.heroSectionTextWrapper a {
	align-self: flex-start;
}

.heroSectionTextWrapper * {
	text-align: center;
}

.heroSection2Form span {
	margin: 20px 0 10px 0;
	color: var(--f1);
}

.heroSection2Form h2 {
	color: var(--f5);
}

.heroSection2Form button {
	background-color: var(--f6);
	margin-top: 20px;
	border: 2px solid var(--f1);
}

.heroSection2Form input {
	color: var(--f1);
	padding: 15px;
	/* background-color: #fff; */
	border-radius: 6px;
	border: 2px solid rgba(255,255,255,.5);
	margin: 10px 0;
}

.heroSection2Form input:focus {
	border-color: var(--f5);
}



.heroLogo {
	width: 100%;
	max-width: 1500px;
	justify-self: center;
	align-self: center;
}




.heroSection2::before {
	content: "";
	background: linear-gradient(rgba(255,255,255,0), var(--f6));
	/* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); */
	position: absolute;
	width: 100%;
	height: 150px;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

































.onlineTitle {
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.onlineTitle svg {
	width: 10px;
	height: 10px;
	fill: var(--f5)
}

.onlineTitle svg:first-child {
	margin-right: 10px;
}

.onlineTitle svg:last-child {
	margin-left: 10px;
	transform: rotate(180deg);
}


.textoOnline {
	font-size: 40px;
	text-align: center;
}



.onlineTitle h1 {
	opacity: 1;
	letter-spacing: 2px;
	margin: 0;
}
















.voltarProgramacaoBtn {
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}


.voltarProgramacaoBtn svg {
	fill: var(--f1);
	flex-grow: 1;
}

.voltarProgramacaoBtn p {
	color: var(--f1);
	text-align: center;
	font-size: 16px;
}



















.faq1 {
	flex-flow: column wrap;
	padding: 90px 10vw;
	background: linear-gradient(var(--f6), var(--f4));

}


.faq1 h2 {
	text-align: center;
	color: var(--f1);
}


.faq1Accordion {
	margin-top: 50px;
	width: 100%;
	max-width: 1000px;
	justify-self: center;
	align-self: center;
}

.faq1Accordion section p {
	padding: 30px;
	color: #fff;
}


.faq1Accordion section h3 {
	padding: 30px;
	background-color: var(--f1);
	border: none;
	outline: none;
	margin: 10px 0;
}



.faq1Accordion section p a {
	color: var(--f1);
	display: inline;
}






















.casaHopeWrapper {
	padding: 40px 10vw 130px 10vw;
	background: var(--f6);
}


.casaHope {
	grid-template-columns: 1fr 3fr;
	grid-gap: 30px;
	padding: 50px;
	background-color: var(--f4);
	border-radius: 10px;
}


.casaHopeLogo {
	padding: 20px;
	border-radius: 7px;
	background-color: var(--f1);
	width: 100%;
	max-width: 350px;
	grid-row: 1 / 4;
	grid-column: 1 / 2;
	align-self: start;
	justify-self: center;
}


.casaHope > * {
	color: var(--f1);
}

.casaHope h3 {
	font-weight: var(--light);
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
}


.casaHope a {
	background-color: var(--green);
	color: var(--f1);
	align-self: center;
	justify-self: center;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	text-align: center;
	text-transform: uppercase;
}






























.countdownWrapper {
	width: 100%;
	max-width: 800px;
}

.countdown {
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 90px 10vw;
	background-color: var(--f6);
}



.countdown h2 {
	color: var(--f1);
	text-align: center;
	margin-bottom: 50px;
}


.countdownTemplate {
	justify-content: center;
	align-items: center;
}


.countdownUnit {
	flex-flow: row;
	justify-content: space-evenly;
	align-items: baseline;
	width: 100%;
	height: 100%;
}

.countdownArea {
	flex-flow: column wrap;
	align-self: flex-start;
	padding: 40px;
}

.countdownArea:first-child {
	border: 3px solid var(--f1);
}

.countdownArea span {
	color: var(--f1);
	text-align: center;
	font-size: 30px;
	align-self: start;
	justify-self: start;
	text-align: center;
	line-height: 0;
}

.countdownArea h2 {
	font-size: 50px;
	font-weight: var(--bold);
	line-height: .6;
	text-align: center;
}



























.tabs1 {
	flex-flow: column wrap;
	padding: 90px 30px;
	background: linear-gradient(var(--f4), var(--f6));
}


.tabsTitle h4 {
	text-align: center;
	font-size: 30px;
	color: var(--f1);
}

.tabsTitle h4 [selected] {
	text-align: center;
	font-size: 30px;
	color: var(--f6);
}

.tabs1 h2 {
	text-align: center;
	color: var(--f1);
}



    /* Styles for the flex layout based tabs */
    amp-selector[role=tablist].tabs-with-flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        justify-self: center;
        align-self: center;
        margin: 50px 0;
    }
    amp-selector[role=tablist].tabs-with-flex [role=tab] {
        flex-grow: 1;
        /* custom styling, feel free to change */
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
    amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
        outline: none;
        /* custom styling, feel free to change */
        background-color: var(--f6);
    }
    amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
        display: none;
        width: 100%;
        order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
        /* custom styling, feel free to change */
    }
    amp-selector[role=tablist].tabs-with-flex [role=tab][selected] + [role=tabpanel] {
        display: block;
        background-color: transparent
    }

        amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
        	color: var(--f6);
    }

    /* Styles for the selector based tabs */
    amp-selector[role=tablist].tabs-with-selector {
        display: flex;
    }
    amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
        outline: none;
        /* custom styling, feel free to change */
        border-bottom: 2px solid var(--color-primary);
    }
    amp-selector[role=tablist].tabs-with-selector {
        display: flex;
    }
    amp-selector[role=tablist].tabs-with-selector [role=tab] {
      /* custom styling, feel free to change */
      width: 100%;
      text-align: center;
      padding: 20px;
      color: var(--f6);
    }
    amp-selector.tabpanels [role=tabpanel] {
      display: none;
      /* custom styling, feel free to change */
      padding: 20px;
    }
    amp-selector.tabpanels [role=tabpanel][selected] {
      outline: none;
      display: block;
    }












.dinamicaWrapper {
	flex-flow: column;
	padding: 50px;
	border-radius: 6px;
	width: 100%;
}

.dinamicaWrapper h3 {
	color: var(--f1);
	font-family: 'Open Sans', sans-serif;
}

.dinamitaListItem {
	align-items: flex-start;
	margin: 10px 0;
}


.dinamitaListItem svg {
	margin-right: 8px;
	fill: var(--f5);
	opacity: .6;
	width: 25px;
	min-width: 25px;
}














.headerNav {
	position: fixed;
	width: 100%;
	min-width: 100vw;
	top: 0;
	left: 0;
	z-index: 20;
	overflow-y: auto;
	transition: .5s ease all;
	box-shadow: none;
	padding-bottom: 80px;
}

.headerNavOverflow {
	pointer-events: all;
	align-items: center;
	justify-content: space-between;
	padding: 30px 10vw;
	text-align: center;
	flex-grow: 1;
	transition: .5s ease all;
}

.inscricaoBtn {
	transform: scale(0);
	display: none;
	transition: .3s ease all;
}

.inscricaoBtnShow {
	transform: scale(1);
	display: block;
}

.headerNavScrollOn {
	top: -200px;
}

.headerNavScroll {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: var(--f4);
    box-shadow:
    	0 1px 1px rgba(0,0,0,0.11),
    	0 2px 2px rgba(0,0,0,0.11),
    	0 4px 4px rgba(0,0,0,0.11),
    	0 8px 8px rgba(0,0,0,0.11),
    	0 16px 16px rgba(0,0,0,0.11),
    	0 32px 32px rgba(0,0,0,0.11);
}



.headerNav button {
	white-space: nowrap;
	color: var(--f1);
	font-weight: var(--regular);
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0;
	font-size: 18px;
	margin: 0 30px 0 0;
}

.headerNav button::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 3px;
	background-color: var(--f1);
	bottom: -9px;
	left: 50%;
	transform: translateX(-50%);
	transition: .3s ease all;
}


.headerNav button:hover::before {
	background-color: var(--f6);
	width: 100px;
}


























.heroSection2FormConfirm {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--f5);
	padding: 30px;
	flex-flow: column wrap;
	z-index: 200;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease all;
}


.heroSection2FormConfirm * {
	text-align: center;
	color: var(--f1);
}


.heroSection2FormError {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--f6);
	padding: 30px;
	flex-flow: column wrap;
	z-index: 200;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease all;
}


.heroSection2FormVisible {
	visibility: visible;
	opacity: 1;
}


.iconConfirmation {
	width: 180px;
	fill: var(--f1);
}

.heroSection2FormError * {
	text-align: center;
	color: var(--f1);
}

.closeDialogBtn {
	position: absolute;
	right: 0;
	top: 0;
	margin: 30px;
	width: 30px;
	height: 30px;
	display: block;
	box-sizing: border-box;
}
















.sobreWrapper {
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	padding: 40px 10vw 60px 10vw;
	background-color: var(--f6);
}




.textoSobreHeaderTitle {
	text-align: center;
	color: var(--f1);
	margin-bottom: 20px;
}





.textoSobreHeader {
	color: var(--f1);
	line-height: 1.6;
	font-weight: var(--light);
	font-family: 'Open Sans', sans-serif;
}




.carouselContainer,
.carouselContainer1 {
	grid-column: 1 / -1;
}


.premiadosSlide .premiadosImgWrapper {
	flex-basis: 33%;
}





.participantesSlidesContainer {
	grid-column: 1 / -1;
}

.premiadosSlide {
	flex-flow: column;
	justify-content: center;
}

.premiadosSlide h3 {
	grid-column: 1 / -1;
	text-align: center;
	color: var(--f5);
	font-size: 30px;
}

.premiadosSlide h3::after {
	content: "";
	position: absolute;
	background-color: var(--f6);
	width: 60%;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -3px;
	position: absolute;
	opacity: .4;
}

.premiadosUnitsWrapper {
	margin-top: 30px;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.premiadosImgWrapper {
	flex-grow: 1;
	flex-basis: 130px;
	flex-shrink: 1;
}

.speakersePremiados {
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	background: linear-gradient(var(--f6), var(--f4));
	padding: 90px 10vw;
	grid-column-gap: 60px;
	grid-row-gap: 70px;
}

#participantes {
	background: var(--f4);
}

.speakersePremiados h2 {
	text-align: center;
	color: var(--f1);
	grid-column: 1 / -1;
}

.premiadosImgWrapper h4 {
	color: var(--f1);
	text-align: center;
	letter-spacing: 1px;
}

.premiadosImgWrapper h4:nth-of-type(1) {
	color: var(--f5);
}

.premiadosImgWrapper h4:nth-of-type(2) {
}

.premiadosImgWrapper {
	justify-content: center;
	align-content: start
}

.premiadosImg {
	border-radius: 50%;
	overflow: hidden;
	width: 198px;
	height: 198px;
	position: relative;
	box-sizing: border-box;
	justify-self: center;
}

.premiadosWrapper h3 {
	color: var(--f3);
}































.speakersWrapper {
	flex-flow: row wrap;
	justify-content: center;
}





.speakerWrapper {
	grid-template-columns: 60px 1fr;
	grid-gap: 8px;
	padding: 30px;
	align-items: start;
	flex-basis: 350px;
	flex-shrink: 1;
}

.speakerWrapper span {
	font-size: 16px;
	color: var(--f1);
	grid-column: 2 / -1;
}


.speakerImg {
	border-radius: 50%;
	grid-row: 1 / 5;
}


.speakersWrapper h3 {
	flex-grow: 1;
	flex-basis: 100vw;
	padding: 30px;
	color: var(--f1);
	text-align: center;
}













.premiadosWrapper {
	flex-flow: column wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.dataHeaderUnitHours {
/* 	width: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0; */
}

.dataHeaderUnitHours h3 {
	white-space: nowrap;
	font-size: 16px;
}

.dataHeaderNextLevel {
	grid-template-columns: auto 1fr auto;
}


.premiadosWrapper h3 {
	font-size: 16px;
	text-align: left;
	margin-bottom: 10px;
}

.premiadosGrid span {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;
	align-self: flex-start;
	font-size: 20px;
	/* color: var(--f6); */
	grid-column: 2 / -1;
	text-align: center;
	margin: 11px 10px 0 10px;
	padding: 10px;
}

.premiadosGrid span::after {
	position: absolute;
	content: "";
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512' fill='%2342515A'%3e%3cpath d='M528 448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm64-320c-26.5 0-48 21.5-48 48 0 7.1 1.6 13.7 4.4 19.8L476 239.2c-15.4 9.2-35.3 4-44.2-11.6L350.3 85C361 76.2 368 63 368 48c0-26.5-21.5-48-48-48s-48 21.5-48 48c0 15 7 28.2 17.7 37l-81.5 142.6c-8.9 15.6-28.9 20.8-44.2 11.6l-72.3-43.4c2.7-6 4.4-12.7 4.4-19.8 0-26.5-21.5-48-48-48S0 149.5 0 176s21.5 48 48 48c2.6 0 5.2-.4 7.7-.8L128 416h384l72.3-192.8c2.5.4 5.1.8 7.7.8 26.5 0 48-21.5 48-48s-21.5-48-48-48z'/%3e%3c/svg%3e"), no-repeat;
	left: 50%;
	background-size: 20px 20px;
	transform: translateX(-50%);
	top: -7px;
	width: 20px;
	height: 20px;
	opacity: .4;
}

.premiadosGrid {
	width: 100%;
	justify-content: space-between;
}

.premiadoImg {
	border-radius: 50%;
	grid-row: 1 / 2;
}



.programacaoUnits {
	background-color: var(--f1);
	flex-flow: column wrap;
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 20px;
}

.programacaoWrapper {
	grid-gap: 30px;
}


.premioLogo {
	width: 120px;
}

h1.nextLevelText {
	text-align: center;
	color: var(--f1);
}




span.descri {
	grid-column: 1 / -1;
	grid-row: 2;
	margin-top: 20px;
	font-size: 16px;
	line-height: 1.4;
}


.descrPartic {
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	margin-top: 20px;
}

.descrPartic span.descri {
	grid-column: 1;
	grid-row: 1;
	margin-top: 0;
	font-size: 16px;
	line-height: 1.4;
}

.participantesPrograma {
	flex-flow: column;
}

.participantesPrograma span {
	font-size: 18px;
	font-weight: var(--semi-bold);
	margin-right: 20px;
}


.participantesPrograma li {
	line-height: 1.5;
	font-size: 16px;
}


.line1Participantes {
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}


.line1Participantes svg {
	height: 15px;
	margin: 0;
	margin-right: 4px;
	fill: var(--f1);
	opacity: .5;
	box-sizing: border-box;
}










.agendaBtn {
	grid-template-columns: 30px auto;
	grid-gap: 10px;
	justify-self: center;
	align-items: center;
	align-self: center;
	padding: 5px 10px;
	background-color: var(--f6);
	transition: .3s ease all;
	color: var(--f1);
	text-transform: uppercase;
	border-radius: 3px;
	white-space: nowrap;
}

.agendaBtn:hover {
	background-color: var(--f4);
}

.tabsWrapper p {
	margin: 12px 0;
}


.dataHeader {
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 30px;
}


.dataHeaderEncerramento {
	grid-template-columns: auto 1fr;
}

.dataHeaderUnitColored h3 {
	color: var(--f4);
}

.dataHeaderUnit::before,
.premiadosWrapper::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 70px;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,.15);
}

.dataHeaderUnit h4 {
	text-align: center;
	color: var(--f2);
	max-width: 190px;
}

.dataLine {
	flex-grow: 1;
	height: 3px;
	align-self: center;
	margin: 0 20px;
	background-color: var(--f1);
}


.tabsWrapper .dataHeader:not(:first-child) {
	margin-top: 70px;
}


.premiadoWrapper h3 {
	color: var(--f2);
	font-size: 20px;
	line-height: 1.6;
}

.infosEvento {
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	margin: 20px 0;
}


.infosEvento p {
	flex-grow: 1;
	flex-basis: 300px;
	flex-shrink: 1;
	text-align: center;
}


.bioBtn {
	padding: 7px;
	border-radius: 5px;
	background-color: var(--f7);
	justify-self: start;
	color: var(--f2);
	transition: 0.3s ease all;
	grid-column: 2 / -1;
}

.bioBtn span {
	z-index: 2;
}

.bioBtn::before {
	content: "";
	background-color: var(--f1);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 5px;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transition: 0.3s ease all;
}

.bioBtn:hover::before {
	opacity: .3;
}


p.pDescricao {
	margin-bottom: 30px;
}





















.footer1 {
	padding: 60px 60px 90px 60px;
	justify-content: space-around;
}

.footer1 h3 {
	margin-bottom: 10px;
	color: var(--pal04);
}

.footer1 p,
.footer1 a {
	line-height: 1.5;
}

.footer1 a:hover {
	color: var(--pal04);
}

.footerArea {
	flex-flow: column wrap;
	padding: 10px;
	border-left: 1px solid var(--c2);
}





























.logosUnitWrapper {
	width: 160px;
	height: 80px;
	position: relative;
	margin: 30px;
	box-sizing: border-box;
}

.patrocinadores {
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding: 60px 20px;
}

.patrocinadoresTop {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 60px 0px;
	align-self: center;
	width: auto;
	grid-column-gap: 60px;
	grid-row-gap: 10px;
}

.patrocinadoresTop h3 {
	grid-column: 1 / -1;
}


.patrocinadores h3 {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100vw;
	text-align: center;
}

.realizadores::before {
	content: "";
	position: absolute;
	width: 70vw;
	max-width: 800px;
	height: 4px;
	background-color: var(--f5);
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}


.realizadores {
	max-width: 1200px;
	width: 100%;
	align-self: center;
}

.patrocinadoresBase3 {
	max-width: 1400px;
	width: 100%;
	align-self: center;
}












.dataHeaderColuna4-1fr {
	grid-template-columns: repeat(3, auto) 1fr auto;
}

.dataHeaderColuna3-1fr {
	grid-template-columns: repeat(2, auto) 1fr auto;
}



.dataHeaderWLogo {
	grid-template-columns: repeat(4, auto) 1fr auto;
}


.participantesProgramaFull {
	grid-column: 1 / -1;
}